.panel.panel-default
  .panel-heading
    %h4 Cписок умений
  .panel-body.abilities-list
    = render Ability.all, object_name: object.class.to_s.downcase, object: object, action: action



-#%ul.abilities-list
-#  = render Ability.all, object: object

