.row
  .col-md-6
    .jumbo
      %p.text-center.title-question Ищете сотрудников?
      %p.text-center
        %a.btn.btn-primary Вход для работодателей
  .col-md-6
    .jumbo
      %p.text-center.title-question Ищете работу?
      %p.text-center= link_to 'Вход для работников', employees_path, class: 'btn btn-primary'
