.row
  .col-md-6
    .jumbo
      %p.text-center.title-question База данных вакансий
      %p.text-center
      %p.text-center= link_to 'Открыть', vacancies_path, class: 'btn btn-primary'
  .col-md-6
    .jumbo
      %p.text-center.title-question База данных соискателей
      %p.text-center= link_to 'Открыть', employees_path, class: 'btn btn-primary'
