// Place all the styles related to the vacancies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-vacancy-btn {
  display: inline;
}

.vacances-index-header {
  display: inline;
}

.vacancies-index-header-separator {
  margin-bottom: 40px;
}

.vacancy-index-salary {
  display: inline;
}

.control-buttons {
  margin-top: 20px;
}

.p-label {
  font-weight: bold;
  display: inline-block
}

.p-value {
  display: inline-block;
}